<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Queries: Necesario para Intent.resolveActivity() en Android 11+
        Declara qué apps/esquemas puede consultar esta app -->
    <queries>
        <!-- Youtube app -->
        <package android:name="com.google.android.youtube" />

        <!-- Navegadores web (para fallback) -->
        <intent >
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
    </queries>


    <application
        android:allowBackup="true"
        android:name=".MyApplication"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppTest"
        android:usesCleartextTraffic="false">
        <activity
            android:name=".features.popular_movies.presentation.main.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppTest">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Feature Movie Details -->
        <activity android:name=".features.movie_details.presentation.details.MovieDetailsActivity"
            android:exported="false"
            android:label="Detalles"
            android:parentActivityName=".features.popular_movies.presentation.main.MainActivity"
            android:theme="@style/Base.Theme.AppTest" />

        <!-- Feature: Videos -->
        <activity android:name=".features.videos.presentation.videos.VideosActivity"
            android:exported="false"
            android:label="Videos y Trailers"
            android:parentActivityName=".features.movie_details.presentation.details.MovieDetailsActivity"
            android:theme="@style/Theme.AppTest"/>
    </application>

</manifest>